<div class="start-book">
    <div class="start-one">
        <div class="ambu-book">
            <div class="start-both">
                <div class="ambu-box" id="first" onclick="switchbook1()">Book Ambulance</div>
                <div class="ambu-box" id="second" onclick="switchbook2()">Free Blood</div>
            </div>
            <div class="ambu-box-third">
                <div class="start-box" id="ambu-title">Book an Ambulance</div>
                <div class="start-box">
                    <img src="../img/ambu.png" alt=""  id="ambu-img" style="width:10rem; height:5rem;">
                </div>
                <div class="start-box">
                    <form action="" class="bookingAmbulance" id="booked">
                        <input class="start-number" type="tel" placeholder="Mobile Number">
                        <select class="start-city" required>
                            <option value="City" disabled selected> City</option>
                            <option value="Banglore"> Banglore</option>
                            <option value="Mercedes"> Mumbai</option>
                            <option value="Audi"> Amritsar</option>
                            <option value="Skoda"> Bihar</option>
                            <option value="Skoda"> Delhi</option>
                            <option value="Skoda"> Jaipur</option>
                        </select>
                        <button class="start-submit" type="submit" id="ambu-submit">SEARCH AMBULANCE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="start-two">

    </div>
</div>