<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor G</title>
        <link rel="icon" type="image/png" href="../img/icon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../index.css">
        <link rel="stylesheet" type="text/css" href="../footer.css">
        <script src="https://kit.fontawesome.com/8be31a1edc.js" crossorigin="anonymous"></script>
    </head>
<body>
    include main/nav.pug
    div(class='all') 
       include main/back.pug 
       include main/content1.pug 
       include main/content2.pug 
       include main/buy.pug 
       include main/processline.pug 
       include main/article.pug 
       include main/subscribe.pug 
       h1(style="text-align:center; width:100%; background-color: #f7f7f7; border-top: 1px solid black;")
        | Patient's fedback
       include main/review.pug 
       div(class="faq")
            div(class="heading")
                h3 frequently Asked Questions
            div(class="ques")
                 each val in arr  
                    button(class="accordion")
                        b Q: 
                        =val.ques
                    div(class="panel")
                        p
                            b Ans: 
                            =val.ans 
       include main/footer.pug
    include main/user.pug
    button(onclick='topFunction()' class='scroller')
       span ^
    include main/message.pug 
    div(class='form')
       div(class='form-contains')
          include main/login.pug 
          include main/registration.pug 
    script(src='../form1.js')
    script(src='../index.js' defer)
</body>
</html>