<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor G</title>
    <link rel="icon" type="image/png" href="../img/icon.png">
    <link rel="stylesheet" type="text/css" href="../index.css">
    <link rel="stylesheet" type="text/css" href="../news.css">
    <link rel="stylesheet" type="text/css" href="../footer.css">
    <script src="https://kit.fontawesome.com/8be31a1edc.js" crossorigin="anonymous"></script>
    <style>
       | body{ background-image: url(../img/new.jpg); background-repeat: no-repeat; background-size: cover;  background-color: #cccccc;}
    </style>
</head>
<body >
    include main/nav.pug
    div(class="newsBack")
         each val in [1, 2, 3, 4, 5,6,7]
            include main/box.pug
    div(class="butt")
        button(onclick="nextSlide(-1)" class="buttNews pichla") 	&#8592; prev
        button(onclick="nextSlide(1)"  class="buttNews agla") next &#8594;
    include main/footer.pug
    button(onclick='topFunction()' class='scroller')
       span ^
    script(src='../news.js')
</body>
</html>