<div class="buy">
    <div class="buycontent">
        <h1>Buy Medicinces And health Care Product Online</h1>
        <p>Get All the Medicines You Need From The Comfort Of Your Home. </p>
        <p>Use Code:<b> STAYHOME,</b>
            Order Now! Get Rs.50 Cashback If your Order is Delivered Late.</p>
        <p>Hurry, Shop Now!</p>
    </div>
    <div class="buysale">
        <img src="img/salebag.png">
        <button class="salebhai">Order Now</button>
    </div>
</div>