<div class="customer">
    <div class="account">
        <img src="img/account.png" alt="error">
        <button class="make_acc"> Make Your Account</button>
    </div>
    <div class="user_content">
        <div class="onlyContent">
            <h2><strong>Welcome! </strong> Make Your Account</h2>
        </div>
        <div class="offers">
            <div class="mast">
                <h3>Main Features</h3>
                <ul>
                    <li>Users can see a list of doctors and their specialties.</li>
                    <li>User can book appointments with any doctor on display.</li>
                    <li>Consultaion on audio/video and chat with the doctor</li>
                    <li>User can add their disease symptoms and share them with the appointed doctor.</li>
                    <li>User can book his/her pathology tests</li>
                    <li>Book ambulance to a nearby hospital</li>
                    <li>You can order Medicinces as per given by Doctors</li>
                    <li>NOTE: (No Home delivery Under 50Rs. shopping)</li>
                </ul>
            </div>
            <div class="membership">
                <h3>Prime Membership</h3>
                <ul>
                    <li>Users can check his/her Blood pressure,blood sugar levels etc (With Graph Data)</li>
                    <li>50% Off on booking ambulance.</li>
                    <li>You can book your private Doctor for monthly checkup</li>
                    <li>Free Home Delivery Charges.</li>
                </ul>

            </div>
        </div>

    </div>
</div>
