<div class="content1">
    <div class="content2">
        <p id="welcome">WELCOME TO</p>
        <p id="doc">Doctor G</p>
        <p id="normal">We are here to take Care of your Health</p>
    </div>
    <div class="boxes">
        <div class="ambulance"> 
            <div id="heading">Get an Ambulance</div>
            <div class="book-it">
               <div class="fixing">
                <img src="../img/ambu3.gif" alt="" style="height:80% ; width:100% ;">
               </div>
               <a href="/book-ambulance"> <button class="book-ambu" onclick="request()">Request</button> </a>
            </div>
        </div>
        <div class="ambulance"> 
            <div id="heading">Blood-Request/Donate</div>
            <div class="book-it">
                <div class="fixing">
                    <img src="../img/blood2.gif" alt=""  style="height:100%;">
                </div>
                <a href="/book-ambulance"><button class="book-ambu redZone" onclick="request()">Request</button></a>
            </div>
        </div>
    </div>
</div>