<div class="faq">
    <div class="heading">
        <h3>frequently Asked Questions</h3>
    </div>
    <div class="ques">
        each val in faq
            <button class="accordion">faq[val].ques</button>
            <div class="panel">
                <p><b>Ans: </b> faq[val].ans
            </div>
    </div>
</div>