<div class="update">
    <div class="updateBox">
        <div id="fixWala">UPDATES </div>
        <div class="fixWala1"><a href="/corona/coronacases.html" target="_blank">Corona cases</a> </div>
        <div class="fixWala1">Symptoms of Disease</div>
        <div class="fixWala1">Check Your Blood Pressure</div>
        <div class="fixWala1">Tips For Your Health</div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Book Ambulance </div>
        <div class="fixWala1">Health Blog </div>
        <div class="fixWala1">Order Medicinces </div>
        <div class="fixWala1"> ...........</div>
        //- <div class="fixWala1">Consult with Doctor </div>
    </div>
    <span class="closeNews" onclick="newsOver()">&times;</span>

</div>