<div class="starter">
    <div class="logo"><img src="img/logo.png"></div>
    <div class="nav">
        <ul class="navbar">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Blogs</a></li>
            <li><a href="contact.html">Pharmcy</a></li>
            <li><a href="contact.html">Coporate Information</a></li>
        </ul>
        <div class="search">
            <input type="text" name="search" id="search1" placeholder="search the website">
            <button id="bttn"><img src="img/search.png"></button>
            <button id="sign" onclick="toggleHide()">Sign In</button>
            <button id="profile" onclick="profileHide()"><img src="img/account.png"></button>
        </div>
    </div>
</div>