- var n = arr2.length;
-var i=0;
<div class="review">
    <div class="setWidth">
        while i<n
            div(class="feedBox1")
                <div class="feedFirst">
                    <div class="feedverify">
                      <img src="../img/check.png" alt="" srcset="" style="width:1.1rem; height:1.1rem;">
                      <span>Verified User</span>
                    </div>
                    div(class="feedname")=arr2[i].name 
                </div>
                div(class="feedSecond")=arr2[i].city 
                div(class="feedThird")
                    <i class="fa fa-quote-left" style="font-size:48px; color:rgb(67, 133, 255);"></i>
                    span 
                        =arr2[i++].feedBack  
            //- if i==n
            //-     -var i=0
    </div>
            
</div>