<div class="subscribe" >
    <p>Get fresh health tips and alerts in your inbox</p>
    <p id="tips">( great way to stay updated about latest health tips, alerts and enhancements )</p>
    <form class="entry" id="subBhai">
        <!-- <input type="email" name="email" id="jagobc" class="empty" placeholder="Email Adderss"> -->
        <input type="email" class="empty" id="newnew" name="email" placeholder=" Enter You email" />
        <button type="submit" class="subs">SUBSCRIBE</button>
    </form>
</div>