<div id="profileBox">
    <div class="profileAllBox"><b style="font-size:1.2rem;">&#128525; </b>profile</div>
    <div class="profileAllBox"><b>&#10031; </b> Go Premium</div>
    <div class="profileAllBox"><b>&#9881; </b> Setting</div>
    <div class="profileAllBox"><b style="font-size:1.2rem;">&#128203; </b>policy</div>
    <div class="profileAllBox"><b style="font-size:2rem;">&#10158; </b> Logout</div>
</div>